<app-loader [flag]=flagger></app-loader>
<div class="container">
  <h2>Book slot</h2>
  <p>Please enter the agency name to allocate a particular slot</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Event name</th>
        <th>Date</th>
        <th>Slot start time</th>
        <th>Slot end time</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Agency name</th>
        <th>Book</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let slot of eventList; let agencyName = index">
        <td>{{slot.eventName}}</td>
        <td>{{slot.slotDate}}</td>
        <td>{{slot.startTime}}</td>
        <td>{{slot.endTime}}</td>
        <td>{{slot.totalDuration}} seconds</td>
        <td>{{slot.totalCharges | currency}}</td>
        <td><input type="text" class="form-control" placeholder="Enter agency name" #ref ngModel ></td>
        <td><button class="btn btn-outline-success" [disabled]="ref.value === ''" (click)="doBooking(ref.value, slot.slotId)">Book</button></td>
      </tr>
    </tbody>
    <h6 *ngIf="!eventList.length">No slots found</h6>
  </table>
</div>
